{"filter":false,"title":".htaccess","tooltip":"/stylesheets/fonts/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":13},"action":"insert","lines":["<FilesMatch \"\\.(ttf|otf|eot|woff)$\">","  <IfModule mod_headers.c>","    Header set Access-Control-Allow-Origin \"*\"","  </IfModule>","</FilesMatch>"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":13},"end":{"row":4,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1434023998692,"hash":"d1d53e971c931ac51c63ee60b71f367be1a42d06"}