canvas
  border: 1px solid black

.pm-toolbox-wrapper
  border-radius: 5px
  position: relative
  margin-bottom: 5px
  min-width: 25em
  border: 1px solid rgba(100,100,100,0.35)
  background-color: rgba(100,100,100,0.60)
  background-color: #ffffff
  background: #eeeeee
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc))
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%)
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%)
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%)
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 )
  z-index: 1000

.pm-toolbox
  display: flex
  flex-direction: row
  justify-content: flex-start

  .pm-tool
    height: auto
    padding: 5px
    flex: 0 0 1em
    height: 1em
    line-height: 1em
    margin: 5px
    text-align: center
    font-size: 1.5em
    opacity: 1
    position: relative
    color: rgba(100,100,100,0.85)
    &.active
      color: rgba(10,10,100,0.75)
      .pm-tooltip
        text-shadow: none
    &:hover
      color: rgba(10,10,100,0.75)

  .pm-tooltip
    position: absolute
    height: auto
    background: rgba(16,16,16,0.75)
    color: #EEE
    padding: 0.3em 0.5em
    border-radius: 5px
    font-size: 0.7em
    min-width: 10em
    width: auto
    &.pm-tooltip-bottom
      top: 140%
      left: 20%
      &:after, &:before
        bottom: 100%
        left: 10%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
      &:after
        border-color: rgba(16,16,16,0)
        border-bottom-color: rgba(16,16,16,0.75)
        border-width: 0.5em
        margin-left: -0.5em
    &.pm-tooltip-top
      bottom: 140%
      &:after, &:before
        top: 100%
        left: 10%
        border: 1px solid transparent
        content: ''
        height: 0
        width: 0
        position: absolute
        pointer-events: none
      &:after
        border-color: rgba(16,16,16,0)
        border-top-color: rgba(16,16,16,0.75)
        border-width: 0.5em
        margin-left: -0.5em

  .pm-tooltip
    overflow: visible !important

.pm-block
  padding: 5px 10px
  margin: 10px
  border: 1px solid #999
  background-color: #CCC
  box-shadow: inset 2px 2px 5px #AAA
  border-radius: 5px
  display: flex
  align-items: center
  &.hidden
    display: none
  &.pm-current-tool
    .icon
      flex: 1
      width: auto
      padding: 0px 10px
      font-size: 2em
      text-align: center
      font-family: Flaticon
      color: rgba(10, 10, 100, 0.75)
    .desc
      flex: 4
      padding-left: 10px
      border-left: 1px solid #5e5e5e

  &.pm-settings
    flex-direction: column
    align-items: initial
    .pm-settings-element
      display: table
      clear: both
      label
        display: table-cell
        text-align: left
        width: 40%
      span
        display: table-cell
        vertical-align: middle
        width: 20%
        &.pm-settings-input-container
          padding-left: 15px
          width: 40%
  &.pm-choose-color
    .pm-choose-color-item
      width: 32px
      height: 32px
      margin: 0px 3px
      border-radius: 16px
      box-shadow: 0px 0px 5px #111


