.pm-toolbox
  border-radius: 5px
  background-color: #5E5E5E
  width: 25em
  position: absolute
  display: flex
  flex-direction: row
  justify-content: flex-start
  border: 1px solid rgba(100,100,100,0.35)
  background-color: rgba(100,100,100,0.60)
  background-color: #ffffff
  background: #eeeeee
  background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc))
  background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%)
  background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%)
  background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%)
  background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 )

  &.pm-toolbox-bottom
    bottom: -3em
  &.pm-toolbox-top
    top: -3em

  .pm-tool
    height: auto
    padding: 5px
    flex: 0 0 1em
    height: 1em
    line-height: 1em
    margin: 5px
    text-align: center
    font-size: 1.5em
    opacity: 1
    position: relative
    color: rgba(100,100,100,0.85)
    &.active
      color: rgba(10,10,100,0.75)
      .pm-tooltip
        text-shadow: none
    &:hover
      color: rgba(10,10,100,0.75)

  .pm-tooltip
    position: absolute
    top: 140%
    height: auto
    background: rgba(16,16,16,0.75)
    color: #EEE
    padding: 0.3em 0.5em
    border-radius: 5px
    font-size: 0.7em
    left: 20%
    min-width: 10em
    width: auto

  .pm-tooltip
    overflow: visible !important
    &:after, &:before
      bottom: 100%
      left: 10%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
    &:after
      border-color: rgba(16,16,16,0)
      border-bottom-color: rgba(16,16,16,0.75)
      border-width: 0.5em
      margin-left: -0.5em
