// $main: #ffffff;
// $add: #e5e5e5;
$main: #00b7ea;
$add: #009ec3;
$fill: #005C75;

.at-effects {
    color: $fill;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  $main 0%, $add 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$main), color-stop(100%,$add)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $main 0%,$add 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $main 0%,$add 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $main 0%,$add 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $main 0%,$add 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20vw;
    padding: 10px;
    border: 1px solid $add;
    box-shadow: 0px 0px 15px black;
    .item {
        cursor: pointer;
        border: 1px solid $main;
        padding: 5px 10px;
        font-size: 1.3em;
        &:hover {
            
        }
    }
}