$main-color: #00b7ea;
$add-color: #009ec3;
$fill: #005C75;

.at-toolbar {
    background-color: $add-color;
    display: inline-block;
}

.at-toolbar .controls {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: flex-start;
    // width: auto;
    // border: 1px solid red;
}

.at-toolbar div div {
    display: inline-block;
    cursor: pointer;
    background: #00b7ea; /* Old browsers */
    // background: -moz-linear-gradient(top,  $main-color 0%, $add-color 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,$add-color)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top,  $main-color 0%,$add-color 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top,  $main-color 0%,$add-color 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top,  $main-color 0%,$add-color 100%); /* IE10+ */
    // background: linear-gradient(to bottom,  $main-color 0%,$add-color 100%); /* W3C */
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: $fill;
    text-shadow: 1px 1px 1px lightblue;
    font-size: 2em;
    font-family: 'PaintMeIcons';
    // display: -webkit-box;
    // -webkit-box-pack: center;
    // -webkit-box-align: center;
    background-size: 100%;
    border: 2px solid #008EB0;
    // border-radius: 10px;
    // margin: 1px;
    &.active {
        background: #00b7ea; /* Old browsers */
        background: -moz-linear-gradient(top,  $fill 0%, $add-color 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,$add-color)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  $fill 0%,$add-color 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  $fill 0%,$add-color 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  $fill 0%,$add-color 100%); /* IE10+ */
        background: linear-gradient(to bottom,  $fill 0%,$add-color 100%); /* W3C */
        svg {
            fill: #00b7ea;
        }
    }
    &:active {
        background: #00b7ea; /* Old browsers */
        background: -moz-linear-gradient(top,  $fill 0%, $add-color 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,$add-color)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  $fill 0%,$add-color 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  $fill 0%,$add-color 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  $fill 0%,$add-color 100%); /* IE10+ */
        background: linear-gradient(to bottom,  $fill 0%,$add-color 100%); /* W3C */
        svg {
            fill: #00b7ea;
        }
    }
    &:hover {
        svg {
            fill: white;
        }
    }
}

.at-toolbar div svg {
    width: 60%;
    height: 60%;
    fill: $fill;
}

body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="64" height="64"><circle cx="32" cy="32" r="32" style="fill: red;"/></svg>')
}
